ontology-repository/src/main/resources/schemas/indices.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TREE_VIEWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TREE_VIEW" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="POSITION"/>
                            <xs:element type="xs:string" name="NAME"/>
                            <xs:element type="xs:string" name="IDENTIFIER"/>
                            <xs:element name="ROOTS">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ROOT" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="NAME"/>
                                                    <xs:element name="ITEMS" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="ITEM"
                                                                            maxOccurs="unbounded" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ITEM-VALUES" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="ITEM"
                                                                            maxOccurs="unbounded" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TREE">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NODES">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="NODE" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="TYPE"/>
                                                                <xs:element type="xs:boolean" name="EXPANDABLE"/>
                                                                <xs:element name="RELATIONS">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="RELATION"
                                                                                        maxOccurs="unbounded"
                                                                                        minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string"
                                                                                                    name="PROPER"/>
                                                                                        <xs:element type="xs:string"
                                                                                                    name="REVERSE"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PRESENTED_FOR_TYPES">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="TYPE" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

