ontology-repository/src/main/resources/schemas/ontology.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ONTOLOGY">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SYNSET" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ILR" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="ID"/>
                                        <xs:element type="xs:string" name="TYPE"/>
                                        <xs:element type="xs:float" name="WEIGHT"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="ID"/>
                            <xs:element type="xs:string" name="TYPE"/>
                            <xs:element name="TAG">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="ID"/>
                                        <xs:element type="xs:string" name="NAME"/>
                                        <xs:element type="xs:int" name="SENSE"/>
                                        <xs:element type="xs:string" name="MARKED"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="METADATA">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SYNSET_TYPES">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SYNSET_TYPE" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" name="ID"/>
                                                    <xs:element type="xs:string" name="NAME"/>
                                                    <xs:element type="xs:string" name="PREFIX"/>
                                                    <xs:element type="xs:int" name="CURRENT_MAX_ID"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:int" name="TAG_CURRENT_MAX_ID"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

